interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.urssaf.fr/portail/home/actualites/toute-lactualite.html
  response:
    body:
      string: "<!DOCTYPE html>\r\n\r\n<html lang=\"fr\">\r\n<head>\r\n\t<!-- GTM :
        DataLayer -->\n<script>\ndataLayer = [{'site' : 'urssaf'}];\n</script>\n<!--
        GTM : DataLayer -->  \n<!-- Google Tag Manager -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'https://www.googletagmanager.com/gtm.js?id='+i+dl+
        '&gtm_auth=zOd6-L-VF2mCNk3T6Tl6Sw&gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-TDZ922M');</script>\n<!--
        End Google Tag Manager -->\r\n\t<meta charset=\"utf-8\">\r\n\t\r\n\t<title>Toute
        l&#039;actualit\xE9 - Urssaf.fr</title>\r\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\r\n\t<link rel=\"icon\" type=\"image/png\" href=\"/portail/favicon.ico\"/>\r\n\t<!--
        Le fichier bootstrap.min.css est celui de la distribution de bootstrap 3.3.7
        par d\xE9faut -->\r\n\t\n\n\n\n\r\n<!-- \t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js\"></script>
        -->\r\n\t\n\n\n\n\n\r\n\t<!-- Le fichier bootstrap.min.js est celui de la
        distribution de bootstrap 3.3.7 par d\xE9faut -->\r\n\t\n\n\n\n\r\n\t<!--
        ATTENTION : le fichier js/cnir-bootstrap-clickLightbox-dropdown.js a \xE9t\xE9
        modifi\xE9 et remplace le fichier du site actuel pour ouvrir le menu XL que
        sur PC -->\r\n\t\n\n\n\r\n\t<!-- ATTENTION : bien garder le CSS Urssaf en
        dernier car il surcharge les valeurs par d\xE9faut des autres librairies ;
        ce fichier remplace le fichier CSS du site actuel -->\r\n\t\n\n\n\n\r\n\t\r\n\t<meta
        name=\"google-site-verification\" content=\"3nOygNBwMSLmJvPumKFFNiSlB-M1Vmp3QyZnqb2zG5Q\"
        />\r\n\t\r\n\t<meta name=\"format-detection\" content=\"telephone=no\">\r\n\t<style>img.tel-phone-float-none{float:none!important;}</style>\n<style>\nmain
        .blocCouleur.white .blocTexteTitre img,\nmain .blocCouleur.grey .blocTexteTitre
        img{\n\twidth:24px !important;\n\tmargin-top:0px !important;\n}\nmain .blocCouleur.white
        .blocTexteTitre,\nmain .blocCouleur.grey .blocTexteTitre a,\nmain .blocCouleur.blocbleu
        .blocTexteTitre a{\n\tdisplay: flex;\n\talign-items: center;\n\tflex-direction:
        row;\n}\na.btn.btn-lien-bleu img{\n\twidth:24px;\n}\n@media all and (max-width:
        768px){\n\t.titreProfil{\n\t\tbackground-position: 100% top !important;\n\t\tbackground-size:
        35% 35% !important;\n\t}\n}\nmain #leftContentMenu button img {\n    transition:
        transform .3s ease-in-out 0s;\n}\nmain #leftContentMenu button[aria-expanded=\"false\"]
        img{\n    transform: rotate(-90deg);\n\nrotate: 0deg;\n}\nmain #leftContentMenu
        button[aria-expanded=\"true\"] img{\n    transform: rotate(0deg);\nrotate:
        0deg;\n}\nmain #leftContentMenu button img{\n\tflex-shrink:0;\n}\nfooter #footer-links
        h1:after {\n\tbackground-color: #FFD400;\n}\n</style>\n<style type=\"text/css\">.btn_aa-urssaf
        {\n  position: relative;\n    font-family: \"Helvetica Neue\",Helvetica,Arial,sans-serif;\n
        \   font-weight: 400;\n    font-size: 14px;\n    text-decoration: none;\n
        \ padding: 0 70px 0 35px;\n    line-height: 1.5em;\n    text-align: center;\n
        \   margin: 0.8em 0;\n    display: inline-block;\n    color: #fff;\n    background:
        url(/portail/files/live/sites/urssaf/fil[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.urssaf.fr/portail/home/actualites/toute-lactualite.default.html?begind284c3da-8573-4a7a-8fa1-509c800d2a53=10&endd284c3da-8573-4a7a-8fa1-509c800d2a53=19&pagesized284c3da-8573-4a7a-8fa1-509c800d2a53=10&
  response:
    body:
      string: "<!DOCTYPE html>\r\n\r\n<html lang=\"fr\">\r\n<head>\r\n\t<!-- GTM :
        DataLayer -->\n<script>\ndataLayer = [{'site' : 'urssaf'}];\n</script>\n<!--
        GTM : DataLayer -->  \n<![...]
[...]
