interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.autoentrepreneur.urssaf.fr/portail/accueil/sinformer-sur-le-statut/toutes-les-actualites.html
  response:
    body:
      string: "<!DOCTYPE html>\r\n\r\n<html lang=\"fr\">\r\n<head>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\" />\r\n\t<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\t\r\n\t\r\n\r\n\r\n\t<link
        href=\"/portail/modules/webaeTemplates/img/favicon-AE.ico\" rel=\"shortcut
        icon\" type=\"image/vnd.microsoft.icon\">\r\n\t<link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"/portail/modules/webaeTemplates/img/apple-touch-icon.png\">\r\n\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/portail/modules/webaeTemplates/img/favicon-32x32.png\">\r\n\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/portail/modules/webaeTemplates/img/favicon-16x16.png\">\r\n\t<link
        rel=\"manifest\" href=\"/portail/modules/webaeTemplates/img/site.webmanifest\">\r\n\t<link
        rel=\"mask-icon\" href=\"/portail/modules/webaeTemplates/img/safari-pinned-tab.svg\"
        color=\"#5bbad5\">\r\n\t<meta name=\"msapplication-TileColor\" content=\"#da532c\">\r\n\t<meta
        name=\"msapplication-config\" content=\"/portail/modules/webaeTemplates/img/browserconfig.xml\">\r\n\t<meta
        name=\"theme-color\" content=\"#ffffff\">\r\n\r\n\t\n\n\n\n\r\n\t<script type=\"text/javascript\"
        src=\"/portail/modules/webaeTemplates/javascript/jquery-3.3.1.min.js\"></script>\r\n\t\n\n\n\n\n\n<script
        type=\"text/javascript\">\n//<![CDATA[\n\t// V1.1\n\t// Constantes d'environnement\n\tvar
        CONST_ENV_WORK = 'prod';\n\tvar CONST_PAGE_S2 = 1;\n\tvar CONST_MAIN_DOMAIN
        = '.urssaf.fr';\n\tvar DEBUG = (CONST_ENV_WORK === 'prod')?false:true;\n\t\n\tfunction
        acossAddEventForTMS(evnt, elem, func) {\n\t\tif (elem.addEventListener)  //
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.autoentrepreneur.urssaf.fr/portail/accueil/sinformer-sur-le-statut/toutes-les-actualites.html?begin23ff2d5c-8e3a-4913-8f0f-2409ef527e3d=0&end23ff2d5c-8e3a-4913-8f0f-2409ef527e3d=5&pagesize23ff2d5c-8e3a-4913-8f0f-2409ef527e3d=6
  response:
    body:
      string: "<!DOCTYPE html>\r\n\r\n<html lang=\"fr\">\r\n<head>\r\n\t<meta charset=\"utf-8\">\r\n\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\" />\r\n\t[...]
[...]
